.indicator {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    color: white;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cameraIndicator {
    top: 20px;
    right: 20px;
}



.instructions {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    color: white;
    max-width: 300px;
    font-size: 14px;
    line-height: 1.5;
}